Project Milestone (Day 7): Manipulate some randomly generated data in a pandas dataframe. Make sure you know how to 
select a specific column, how to set the dataframe index (and, in particular, how to make it a datetime index), 
and how to select ranges of rows by index.

In [1]:
import pandas as pd
import numpy as np

In [3]:
# Generate a dataframe with random numbers
df = pd.DataFrame(np.random.randint(0,100,size=(100, 3)), columns=list('ABC'))

In [4]:
df

     A   B   C
0   42   8  39
1   98  27  93
2   57  15  79
3   26  12  96
4   71  27  88
5   72   7  82
6    8  28  33
7   13  82  37
8   76  26  31
9    0  48  70
10  41  34  26
11  74  84  46
12  72  43  61
13  58  77  73
14  26  56  39
15  18  29  72
16  31  82  41
17  57  62   6
18  49  86  67
19  14   8  61
20  94  86  88
21  18  14  40
22  28   1  81
23  67  38  58
24  86  54  39
25  94  29  18
26  91  94  45
27  31  48  43
28  63   4  97
29  50   6  55
..  ..  ..  ..
70   6   7  60
71  95  84  60
72  10  71  42
73  23  13  42
74  71  59  13
75  24  74   5
76  25  62  99
77  31  50  69
78  86   6  79
79  95  34  88
80  74  15  52
81  22  60  14
82  26  53  39
83  48  87  59
84  93  13  15
85  55  77  33
86  46  34   1
87  47  48  70
88  53  54   2
89  55  47  42
90  41  25  79
91  96  43  58
92  11  59  85
93  79  14  53
94  49  97  84
95   3  95  52
96  16  80  33
97  81  11  35
98  96  90  82
99   5  12  29

[100 rows x 3 columns]

In [5]:
# Select a specific colum
df['B']

0      8
1     27
2     15
3     12
4     27
5      7
6     28
7     82
8     26
9     48
10    34
11    84
12    43
13    77
14    56
15    29
16    82
17    62
18    86
19     8
20    86
21    14
22     1
23    38
24    54
25    29
26    94
27    48
28     4
29     6
      ..
70     7
71    84
72    71
73    13
74    59
75    74
76    62
77    50
78     6
79    34
80    15
81    60
82    53
83    87
84    13
85    77
86    34
87    48
88    54
89    47
90    25
91    43
92    59
93    14
94    97
95    95
96    80
97    11
98    90
99    12
Name: B, Length: 100, dtype: int64

In [13]:
df.iloc[0:5] # first row of data frame: Series data type output.

    A   B   C
0  42   8  39
1  98  27  93
2  57  15  79
3  26  12  96
4  71  27  88

In [ ]:
# Single selections using iloc and DataFrame
# Rows:
df.iloc[0] # first row of data frame: Series data type output.
df.iloc[1] # second row of data frame 
df.iloc[-1] # last row of data frame 
# Columns:
df.iloc[:,0] # first column of data frame 
df.iloc[:,1] # second column of data frame 
df.iloc[:,-1] # last column of data frame

In [ ]:
# Multiple row and column selections using iloc and DataFrame
df.iloc[0:5] # first five rows of dataframe
df.iloc[:, 0:2] # first two columns of data frame with all rows
df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.
df.iloc[0:5, 5:8] # first 5 rows and 5th, 6th, 7th columns of data frame